DUCX_NODE_HTTP_URL=https://
SUBNETWORK=DucatusX Mainnet
SUPPORTED_CHAINS='[ { "title": "DucatusX Mainnet", "url": "https://explorer.ducatusx.com" }, { "title": "DucatusX Testnet", "url": "https://explorer-testnet.ducatusx.com", "test_net?": true } ]'